<div class="wrapper">
  <div class="container">
    <div class="attendance-calendar-wrapper">
      <div class="header-calendar flex space-between">
        <div>Attendance</div>

        <div><img src="assets/icons/icon-stack.svg" alt="" /></div>
      </div>
      <div class="month-calendar">
        <div class="month-calendar-header flex space-between">
          <div class="btn-pointer" (click)="getMonthAndYear()"><img src="assets/icons/Left.svg" alt="" /></div>
          <div>{{month}} {{year}}</div>
          <div class="btn-pointer" (click)="getMonthAndYear(true)"><img src="assets/icons/Right.svg" alt="" /></div>
        </div>

        <div class="month-body">
          <div class="list-weekday">
            <ul>
              <li *ngFor="let preSet of weekDaysShortWord">{{preSet}}</li>
            </ul>
          </div>

          <div class="list-day">
            <ul>
              <li *ngFor="let date of daysList" [ngStyle]="{'background-color': date.color}">{{date.date}}</li>
            </ul>
          </div>

          <div class="list-color-code">
            <ul>
              <li><span></span> Business Travel</li>
              <li><span class="leave-application"></span>Leave Applied</li>
              <li><span></span>Public Holiday</li>
              <li><span></span>Work Leave</li>
              <li><span></span>Late Arrival</li>
              <li><span></span>Late Arrival > <i>09:30 AM (absent)</i></li>
              <li><span></span>Absent</li>
            </ul>
          </div>
        </div>
        <div class="footer-count">CPL Count <span>{{cplCount}}</span></div>
      </div>
    </div>
  </div>
</div>