<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list">
    <ul>
      <li class="heading-date">01 Nov 2021</li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
    </ul>

    <ul>
      <li class="heading-date">01 Nov 2021</li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
    </ul>
    <ul>
      <li class="heading-date">01 Nov 2021</li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>

      <li class="purple">
        <div class="user-img">
          <img src="images/img-dummy.png" alt="" />
        </div>
        <div class="employee-detail">
          <div class="heading-lg">Natalya Neidhart</div>
          <img src="icons/ico-present-02.svg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
