<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list">
    <app-main-card *ngFor="let date of data">
      <ul>
        <li class="heading-date">{{ date.date }}</li>
        <app-employee-card *ngFor="let employee of date.employees">
          <li [ngStyle]="{'border-color' : employee.shift_color , 'background-color' : employee.bgColor}">
            <div class="user-img">
              <img src="assets/images/img-dummy.png" alt="" />
            </div>
            <div class="employee-detail">
              <div class="heading-lg">{{ employee.emp_name }}</div>
              <img src="icons/ico-present-02.svg" alt="" />
            </div>
          </li>
        </app-employee-card>
      </ul>
    </app-main-card>
  </div>
</div>
