<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list date-wise">
    <app-main-card>
      <ul class="custom-height-88">
        <li class="heading-date">
          <div class="user-img">
            <img src="assets/images/img-dummy.png" alt="" />
          </div>
          Natalya Neidhart
        </li>
        <app-date-card>
          <li>
            <div class="user-img">
              <span></span>
            </div>
            <div class="employee-detail">
              <div class="heading-lg">01-11-2020</div>
              <img src="assets/assets/icons/ico-present-02.svg" alt="" />
            </div></li
        ></app-date-card>
      </ul>
    </app-main-card>
  </div>
</div>
