<div class="list list-dd">
  <div class="list-dd-header">
    <div class="header">
      <div class="flex space-between w-100">
        <div class="title-column">No Weekend</div>

        <div class="right-menu">
          <div class="label">5</div>
          <a href="#">View All</a>
        </div>
      </div>
    </div>
  </div>
  <app-employee-card>
    <div class="example-list" cdkDropList
    [cdkDropListData]="data"
    (cdkDropListDropped)="drop($event)">
      <div *ngFor="let emp of data" class="JobCard example-box" cdkDrag>
        <div class="vh-center">
          <span class="logo-vendor"
            ><img src="assets/icons/pic2.png" alt=""
          /></span>
        </div>
        <div class="content">
          <div class="card-description">
            <div class="job-card-title">{{emp?.name}}</div>
            <div class="card-title-vendor">#{{emp?.number}}</div>
          </div>
        </div>
      </div>
    </div>
  </app-employee-card>
  
</div>
