<!-- calender -->
<div class="wrapper">
  <div class="container">
    <!-- Drop down -->
    <!-- END -->
    <!-- date drop down-->

    <div class="date-dd">
      Eid-ul-adha <i><img src="assets/icons/icon-dd.svg" alt="" /></i>
    </div>

    <!-- Split dropright button -->
    <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary">Split dropright</button>
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle Dropright</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Add</a>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>

<div>
  <app-employee-shift-list></app-employee-shift-list>
</div>
<div>
  <app-event></app-event>
</div>

<br />

<div>
  <app-calender-setup></app-calender-setup>
</div>
<div>
  <app-avaliable-shift></app-avaliable-shift>
</div>
<br />
<div>
  <app-single-sort-by-employee></app-single-sort-by-employee>
</div>
<br />
<div>
  <app-single-employee-check-box></app-single-employee-check-box>
</div>

<div>
  <app-approval-details></app-approval-details>
</div>
