<div class="wrapper">
  <div class="container">
    <div class="header-menu"></div>
    <app-full-layout>
      <div>
        <div class="table-header gradient-head flex justify-content-between">
          <div class="heading">Shift Setup</div>
          <div class="btn-options flex align-content-center">
            <a href="#" class="btn-custom"
              >Advance Filter
              <i><img src="assets/icons/filter.svg" alt="" /></i>
            </a>
          </div>
        </div>
        <div class="shift-setup">
          <div class="shadow">
            <app-sub-layout>
              <div class="shift-card-wrapper">
                <div class="shift-header">Shift Type & Mid Break</div>
                <div class="shift-card">
                  <div class="form-col">
                    <div>
                      <app-select-box [label]="'Shift Type'" [data]="shiftTypeArray"></app-select-box>
                    </div>
                    <div>
                      <app-input-box [label]="'Shift Name'"></app-input-box>
                    </div>
                    <div>
                      <app-time-box [label]="'From'"></app-time-box>
                    </div>
                    <div>
                      <app-time-box [label]="'To'"></app-time-box>
                    </div>
                  </div>
                  <div class="form-col">
                    <div>
                      <app-input-box [label]="'BL Status'"></app-input-box>
                    </div>
                  </div>
                  <div class="form-col">
                    <div>
                      <app-select-box [label]="'Shift Color'" [data] = "shiftColorArray"></app-select-box>
                    </div>
                    <div>
                      <app-date-box [label]="'BL Status'"></app-date-box>
                    </div>
                    <div>
                      <app-date-box [label]="'BL Status'"></app-date-box>
                    </div>
                    <div class="row align-content-center" style="width: 272px">
                      <div class="col">
                        <app-check-box>
                          <label>Roster</label>
                        </app-check-box>
                      </div>
                      <div class="col">
                        <app-check-box>
                          <label>General</label>
                        </app-check-box>
                      </div>
                      <div class="col">
                        <app-check-box>
                          <label>Default</label>
                        </app-check-box>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </app-sub-layout>

            <app-sub-layout>
              <div class="shift-card-wrapper">
                <div class="shift-header">Extended Mid Break</div>
                <div class="shift-card">
                  <div class="form-col">
                    <div>
                      <app-select-box [label]="'Shift Type'" [data]="shiftTypeArray"></app-select-box>
                    </div>
                    <div>
                      <app-time-box [label]="'BL Status'"></app-time-box>
                    </div>
                    <div>
                      <app-time-box [label]="'BL Status'"></app-time-box>
                    </div>
                    <div class="d-flex align-items-center">
                      <app-check-box>
                        <label>Specific Period</label>
                      </app-check-box>
                    </div>
                  </div>
                  <div class="form-col">
                    <div>
                      <app-date-box [label]="'BL Status'"></app-date-box>
                    </div>
                    <div>
                      <app-date-box [label]="'BL Status'"></app-date-box>
                    </div>
                    <div>
                      <app-select-box [label]="'BL Status'"></app-select-box>
                    </div>
                  </div>
                </div>
              </div>
            </app-sub-layout>

            <app-sub-layout>
              <div class="shift-card-wrapper">
                <div class="shift-header">Quarter Break</div>
                <div class="shift-card">
                  <div class="form-col">
                    <div>
                      <app-input-box [label]="'BL Status'"></app-input-box>
                    </div>
                    <div>
                      <app-time-box [label]="'BL Status'"></app-time-box>
                    </div>
                    <div>
                      <app-time-box [label]="'BL Status'"></app-time-box>
                    </div>
                    <div>
                      <app-check-box>
                        <label>+</label>
                      </app-check-box>
                    </div>
                  </div>
                  <div class="form-col">
                    <div>
                      <app-input-box [label]="'BL Status'"></app-input-box>
                    </div>
                    <div>
                      <app-input-box [label]="'BL Status'"></app-input-box>
                    </div>
                    <div>
                      <app-input-box [label]="'BL Status'"></app-input-box>
                    </div>
                  </div>
                </div>
              </div>
            </app-sub-layout>
          </div>
          <!-- <div class="shift-setup-footer"></div> -->
          <div class="calendar-footer justify-content-end">
            <div class="modal-footer-button flex">
              <div>
                <app-check-box>
                  <label>Active</label>
                </app-check-box>
              </div>
              <input type="button" class="btn-input" value="Submit" />
            </div>
          </div>
        </div>
      </div>
    </app-full-layout>
    <app-full-layout>
      <div class="pt-10">
        <div class="table-header gradient-head flex justify-content-between">
          <div class="heading">Shift list</div>
          <div class="btn-options flex align-content-center"></div>
        </div>
        <div class="shift-setup">
          <div class="shadow no-pad">
            <app-shift-list></app-shift-list>
          </div>
          <div class="shift-setup-footer"></div>
        </div>
      </div>
    </app-full-layout>
  </div>
</div>
