<div class="wrapper">
  <form [formGroup]="shiftSetUpForm" (submit)="submit()">
    <div class="container">
      <div class="header-menu"></div>
      <app-full-layout>
        <div>
          <div class="table-header gradient-head flex justify-content-between">
            <div class="heading">Shift Setup</div>
            <app-location-and-designation-filter
              (filtersChange)="filtersChanged($event)"
              [defaultValues]="defaultFilters"
              [resetFilters]="resetFilters"
            >
            </app-location-and-designation-filter>

            <!-- <div class="btn-options flex align-content-center">
            <a href="#" class="btn-custom"
              >Advance Filter
              <i><img src="assets/icons/filter.svg" alt="" /></i>
            </a>
          </div> -->
          </div>
          <div class="shift-setup">
            <div class="shadow">
              <app-sub-layout>
                <div class="shift-card-wrapper">
                  <div class="shift-header">Shift Type & Mid Break</div>
                  <div class="shift-card">
                    <div class="form-col">
                      <div>
                        <app-select-box
                          [label]="'Shift Type'"
                          [form]="shiftSetUpForm"
                          [control]="'shift_type_id'"
                          [data]="shiftTypeArray"
                          [defaultValue]="dropDownDefaultValues.shiftType"
                        ></app-select-box>
                      </div>
                      <div>
                        <app-input-box
                          [label]="'Shift Name'"
                          [form]="shiftSetUpForm"
                          [control]="'name'"
                        ></app-input-box>
                      </div>
                      <div>
                        <app-time-box
                          [label]="'From'"
                          [form]="shiftSetUpForm"
                          [control]="'time_in'"
                        ></app-time-box>
                      </div>
                      <div>
                        <app-time-box
                          [label]="'To'"
                          [form]="shiftSetUpForm"
                          [control]="'time_out'"
                        ></app-time-box>
                      </div>

                      <!-- <div class="form-col p-0" *ngIf="!isUpdating">
                        <div >
                          <app-input-box
                            [label]="'Comments'"
                            [form]="shiftSetUpForm"
                            [control]="'hr_comment'"
                            [width]="'1149px'"
                          ></app-input-box>
                        </div>
                      </div> -->
                      <div class="form-col">
                        <div>
                          <app-select-box
                            [label]="'Shift Color'"
                            [form]="shiftSetUpForm"
                            [control]="'color'"
                            [data]="shiftColorArray"
                            [defaultValue]="dropDownDefaultValues.shiftColor"
                          ></app-select-box>
                        </div>
                        <div>
                          <app-time-box
                            [label]="'Mid Break From'"
                            [form]="shiftSetUpForm"
                            [control]="'mid_break_time_in'"
                          ></app-time-box>
                        </div>
                        <div>
                          <app-time-box
                            [label]="'Mid Break To'"
                            [form]="shiftSetUpForm"
                            [control]="'mid_break_time_out'"
                          ></app-time-box>
                        </div>
                        <div class="row align-content-center">
                          <div class="col">
                            <app-check-box
                              [color]="'#3080EA'"
                              [label]="'Roster'"
                              [form]="shiftSetUpForm"
                              [control]="'is_roster'"
                              (selectionChanged)="[(generalSelection = false)]"
                            >
                            </app-check-box>
                          </div>
                          <div class="col">
                            <app-check-box
                              [color]="'#3080EA'"
                              [label]="'General'"
                              (selectionChanged)="checkBoxSelection($event)"
                              [checked]="
                                generalSelection &&
                                shiftSetUpForm.get('is_roster').value == 0
                              "
                            >
                            </app-check-box>
                          </div>
                          <div class="col">
                            <app-check-box
                              [color]="'#3080EA'"
                              [label]="'Default'"
                              [checked]="
                                generalSelection &&
                                shiftSetUpForm.get('is_roster').value == 0
                              "
                              (selectionChanged)="checkBoxSelection($event)"
                            >
                            </app-check-box>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </app-sub-layout>

              <app-sub-layout>
                <div class="shift-card-wrapper">
                  <div class="shift-header">Extended Mid Break</div>
                  <div class="shift-card">
                    <div class="form-col">
                      <div>
                        <app-select-box
                          [label]="'Select Day'"
                          [form]="shiftSetUpForm"
                          [control]="'ext_mid_break_day_id'"
                          [data]="weekDaysArray"
                          [defaultValue]="dropDownDefaultValues.day"
                        ></app-select-box>
                      </div>
                      <div>
                        <app-time-box
                          [label]="'From'"
                          [form]="shiftSetUpForm"
                          [control]="'ext_mid_break_time_in'"
                        ></app-time-box>
                      </div>
                      <div>
                        <app-time-box
                          [label]="'To'"
                          [form]="shiftSetUpForm"
                          [control]="'ext_mid_break_time_out'"
                        ></app-time-box>
                      </div>
                      <div class="d-flex align-items-center">
                        <app-check-box
                          [color]="'#3080EA'"
                          [label]="'Specific Period'"
                          [control]="'specific_period'"
                          [form]="shiftSetUpForm"
                          (selectionChanged)="onShiftExtendedChecked($event)"
                        >
                        </app-check-box>
                      </div>
                      <div
                        class="form-col"
                        *ngIf="shiftSetUpForm.get('specific_period').value"
                      >
                        <div>
                          <app-date-box
                            [label]="'Period From'"
                            [form]="shiftSetUpForm"
                            [control]="'shift_revert_date_start'"
                          ></app-date-box>
                        </div>
                        <div>
                          <app-date-box
                            [label]="'Period To'"
                            [form]="shiftSetUpForm"
                            [control]="'shift_revert_date_end'"
                          ></app-date-box>
                        </div>
                        <div>
                          <app-select-box
                            [label]="'Revert To'"
                            [form]="shiftSetUpForm"
                            [control]="'revert_shift_id'"
                            [data]="shiftArray"
                            [defaultValue]="dropDownDefaultValues.revert"
                          ></app-select-box>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </app-sub-layout>

              <app-sub-layout>
                <div class="shift-card-wrapper">
                  <div class="shift-header">Quarter Break</div>
                  <div class="shift-card">
                    <div
                      formArrayName="qrt_break"
                      class="form-col"
                      *ngFor="let qrt of qrt_break.controls; let i = index"
                    >
                      <div [formGroup]="qrt" class="form-col">
                        <div>
                          <app-input-box
                            [label]="'Quarter Break Name'"
                            [form]="qrt"
                            [control]="'qrt_break_title'"
                          ></app-input-box>
                        </div>
                        <div>
                          <app-time-box
                            [label]="'From'"
                            [form]="qrt"
                            [control]="'qrt_break_time_in'"
                          ></app-time-box>
                        </div>
                        <div class="d-flex">
                          <app-time-box
                            [label]="'To'"
                            [form]="qrt"
                            [control]="'qrt_break_time_out'"
                          ></app-time-box>

                          <img
                            *ngIf="qrt_break.length != i + 1"
                            class="ags-ml-3 ags-h-w-16"
                            (click)="pushOrDeleteFromArray('minus', i)"
                            src="assets/images/roster/minus.svg"
                            alt=""
                          />
                          <img
                            *ngIf="qrt_break.length == i + 1"
                            class="ags-ml-3 ags-h-w-16"
                            (click)="pushOrDeleteFromArray('plus', i)"
                            src="assets/images/roster/plus.svg"
                            alt=""
                          />
                        </div>
                        <div *ngIf="i + 1 == qrt_break.length">
                          <app-check-box
                            [color]="'#3080EA'"
                            [label]="'Tolerance'"
                            [control]="'Tolerance'"
                            [form]="shiftSetUpForm"
                            (selectionChanged)="onQrtChecked($event)"
                          >
                          </app-check-box>
                        </div>
                      </div>
                    </div>
                    <div
                      class="form-col"
                      *ngIf="shiftSetUpForm.get('Tolerance').value"
                    >
                      <div>
                        <app-input-box
                          [label]="'Consecutive Late'"
                          [form]="shiftSetUpForm"
                          [control]="'consecutive_late'"
                          [type]="'number'"
                        ></app-input-box>
                      </div>
                      <div>
                        <app-input-box
                          [label]="'Late Arrival Tolerance (min)'"
                          [form]="shiftSetUpForm"
                          [control]="'late_arrival_tolerance'"
                          [type]="'number'"
                        ></app-input-box>
                      </div>
                      <div>
                        <app-input-box
                          [label]="'Attendencec Tolerance (min)'"
                          [form]="shiftSetUpForm"
                          [control]="'attendance_tolerance'"
                          [type]="'number'"
                        ></app-input-box>
                      </div>
                    </div>
                  </div>
                </div>
              </app-sub-layout>
              <div>
                <app-approval-details
                  [form]="shiftSetUpForm"
                  [isUpdating]="isUpdating"
                  [colors]="colors"
                ></app-approval-details>
              </div>
            </div>
            <!-- <div class="shift-setup-footer"></div> -->
            <!-- <div class="calendar-footer justify-content-end">
              <div class="modal-footer-button flex">
                <div class="d-flex align-items-center">
                  <app-check-box [color]="'black'" [label]="'Period'">
                  </app-check-box>
                </div>
                <input
                  *ngIf="!isUpdating"
                  type="submit"
                  class="btn-input"
                  value="Submit"
                />
               
                <input
                  *ngIf="isUpdating"
                  type="submit"
                  class="btn-input"
                  value="Approve"
                  (click)="approve()"
                />
                <input
                  *ngIf="isUpdating"
                  type="submit"
                  class="btn-input"
                  value="Disapprove"
                  (click)="disApprove()"
                />
                <input
                  *ngIf="isUpdating"
                  type="submit"
                  class="btn-input"
                  value="Cancel"
                  (click)="cancel()"
                />
              </div>
            </div> -->
            <!-- <div class="shift-setup-footer"></div> -->
            <div class="calendar-footer justify-content-end">
              <div class="modal-footer-button flex">
                <!-- <div class="d-flex align-items-center">
                  <app-check-box [label]="'Active'"> </app-check-box>
                </div> -->
                <input
                  *ngIf="!isUpdating"
                  type="submit"
                  class="btn-input"
                  [disabled]="shiftSetUpForm.invalid"
                  value="Submit"
                />
                <!-- <input *ngIf="isUpdating" type="submit" class="btn-input" value="Update" /> -->
                <input
                  *ngIf="isUpdating"
                  [disabled]="!shiftSetUpForm.valid"
                  type="submit"
                  class="btn-input"
                  value="Approve"
                  (click)="approve()"
                />
                <input
                  *ngIf="isUpdating"
                  [disabled]="!shiftSetUpForm.valid"
                  type="submit"
                  class="btn-input"
                  value="Disapprove"
                  (click)="disApprove()"
                />
                <input
                  
                  type="button"
                  class="btn-input"
                  value="Cancel"
                  (click)="cancel()"
                />
              </div>
            </div>
          </div>
        </div>
      </app-full-layout>
      <app-full-layout>
        <div class="pt-10">
          <div class="table-header gradient-head flex justify-content-between">
            <div class="heading">Shift list</div>
            <div class="btn-options flex align-content-center">
              <app-select-box
                [label]="'Active'"
                [width]="'105px'"
                [height]="'20px'"
                [name]="'market'"
                [hideLabel]="true"
                [customClass]="['padding-top-3', 'carret_position_9']"
              >
              </app-select-box>
            </div>
          </div>
          <div class="shift-setup">
            <div class="shadow no-pad">
              <app-shift-list
                [data]="shiftArray"
                (singleShiftId)="getSingleShift($event)"
              ></app-shift-list>
            </div>
            <div class="shift-setup-footer"></div>
          </div>
        </div>
      </app-full-layout>
    </div>
  </form>
</div>


<!-- Testing  -->
