<div class="d-flex agt-check-box-container">
  <input 
  *ngIf="!form && !control"
  class="agt-check-box" 
    type="checkbox" 
    [checked]="checked"
    #checkbox 
    (change)="selectionChange(checkbox)"
    />
    <input *ngIf="form && control"
    class="agt-check-box" 
    type="checkbox" 
    [checked]="checked"
    #checkbox 
    (change)="selectionChange(checkbox)"
    [formControl]="form?.get(control)"
    />
  <p class="ml-1" [ngStyle]="{ color: color }">
    {{ label }}
  </p>

  <span
  class="text-right text-error d-block"
    *ngIf="form && control && form?.get(control)?.errors?.required && form?.get(control)?.touched"
    >required</span
  >
</div>
