.agt-check-box{
    height: 14px;
    width: 14px;
    border-radius: 2px;
    background: #3080EA 0% 0% no-repeat padding-box;
}

.agt-check-box-container > label{
    
    font: normal normal normal 11px/13px Roboto;
    letter-spacing: 0px;
    color: #3080EA;
    margin-left: 4px;
}