<div>
  <div class="shift-management-wrapper pt-0">
    <div class="header">
      <div class="search-row">
        <form action="" class="flex space-between w-100">
          <div class="left-col">
            <label for="radio1">
              <input
                type="radio"
                value="date"
                name="sort"
                (click)="radioChange('date')"
              />Sort by Date</label
            >
            <label for="radio1">
              <input
                type="radio"
                value="employee"
                name="sort"
                (click)="radioChange('employee')"
              />Sort by Employee</label
            >
          </div>

          <input type="text" />
        </form>
      </div>
    </div>
  </div>

  <app-employee-check-box
    *ngIf="view == 'employee'"
    [modelData]="modelData"
  ></app-employee-check-box>
  <app-date-check-box
    *ngIf="view == 'date'"
    [modelData]="modelData"
  ></app-date-check-box>
</div>
