<div>
  <div class="shift-management-wrapper pt-0">
    <div class="header">
      <div class="search-row">
        <form action="" class="flex space-between w-100">
          <div class="left-col">
            <label for="radio1">
              <input type="radio" (click)="view = 'date'" />Sort by Date</label
            >
            <label for="radio1">
              <input type="radio" (click)="view = 'employee'" />Sort by
              Employee</label
            >
            <label for="radio1">
              <input type="radio" (click)="view = 'default'" />Default
              View</label
            >
          </div>

          <input type="text" />
        </form>
      </div>
    </div>
  </div>
  <app-default-view *ngIf="view == 'default'"></app-default-view>
  <app-employee-check-box *ngIf="view == 'employee'"></app-employee-check-box>
  <app-date-check-box *ngIf="view == 'date'"></app-date-check-box>
</div>
