<div>
  <div class="shift-management-wrapper pt-0">
    <div class="header">
      <div class="search-row mt-0">
        <form action="" class="flex space-between w-100">
          <div class="left-col">
            <label for="radio1">
              <input
                [checked]="valueType == 'date'"
                type="radio"
                value="date"
                name="sort"
                (click)="radioChange('date')"
              />Sort by Date</label
            >
            <label for="radio1">
              <input
                [checked]="valueType == 'employee'"
                type="radio"
                value="employee"
                name="sort"
                (click)="radioChange('employee')"
              />Sort by Employee</label
            >
          </div>

          <app-input-box 
            [width]="'105px'" 
            [height]="'20px'"
            (inputChanged)="search($event)">
          </app-input-box>

        </form>
      </div>
    </div>
  </div>

  <app-employee-check-box
    *ngIf="view == 'employee'"
    [modelData]="modelData"
    [searchedValue]="searchedValue"
  ></app-employee-check-box>
  <app-date-check-box
    *ngIf="view == 'date'"
    [modelData]="modelData"
    [searchedValue]="searchedValue"
  ></app-date-check-box>
  <app-single-employee-check-box *ngIf="single && view == 'employee'"> </app-single-employee-check-box>
</div>
