<div class="modal-custom bg-white">
  <app-dialog-layout>
    <form [formGroup]="eventForm" (submit)="submit(eventForm.value)">
      <div class="gradient-head flex justify-content-between">
        <div class="heading">Event</div>
        <div class="btn-options flex align-content-center">
          <a (click)="activeModal.close('Close click')"
            ><img src="assets/icons/ico-close.svg" alt=""
          /></a>
        </div>
      </div>
      <!-- Body -->

      <div class="overtime-form p-20 px-0">
        <div class="row m-0">
          <div class="col">
            <app-input-box
              [form]="eventForm"
              [control]="'hdesc'"
              [label]="'Name'"
              [width]="'100%'"
            ></app-input-box>
          </div>
        </div>
        <br />
        <div class="row m-0">
          <div class="col-6">
            <app-date-box
              [form]="eventForm"
              [control]="'start_date'"
              [label]="'From Date'"
            ></app-date-box>
          </div>
          <div class="col-6">
            <app-date-box
              [form]="eventForm"
              [control]="'end_date'"
              [label]="'To Date'"
            ></app-date-box>
          </div>
        </div>
      </div>

      <!-- footer -->

      <div class="modal-custom-footer">
        <div class="clues">
          <span> </span>
          <span> </span>
        </div>

        <div class="modal-footer-button flex">
          <input type="submit" class="btn-input" value="Submit" />
          <input
            type="button"
            class="btn-input"
            value="Cancel"
            (click)="activeModal.close('Close click')"
          />
        </div>
      </div>
    </form>
  </app-dialog-layout>
</div>
