<div class="wrapper h-25">
  <div class="container">
    <app-full-layout>
      <div>
        <div>
          <div class="table-header gradient-head flex justify-content-between">
            <div class="heading">Upload</div>
            <div class="btn-options flex align-content-center"></div>
          </div>
        </div>
        <div class="shift-setup">
          <app-sub-layout>
            <div class="shift-card">
              <div class="form-col p-20">
                <div>
                  <app-select-box [label]="'Shift Type'"></app-select-box>
                </div>
                <div class="row align-content-center">
                  <p class="label text-primary">Downlaod Template</p>
                </div>
              </div>
            </div>
          </app-sub-layout>

          <!-- <div class="shift-setup-footer"></div> -->
        </div>
      </div>
    </app-full-layout>
    <div class="calendar-footer">
      <ul class="shift-hints" style="display: flex; gap: 20px">
        <li (click)="open()" class="text-primary">Avaliable shifts</li>
        <li class="text-success">WO:Weekend</li>
        <li (click)="openEvent()" class="text-primary">GH:Gazetted Holiday</li>
        <li (click)="openCalendarsetup()" class="text-danger">
          CPL:Componsatory Leave
        </li>
        <li class="text-success">OFF:leave</li>
      </ul>

      <div class="modal-footer-button flex">
        <input type="button" class="btn-input" value="Upload" />
      </div>
    </div>
  </div>
</div>
