<form [formGroup]="shiftRequestLMform">
  <div class="wrapper">
    <div class="container">
      <div class="header-menu"></div>
      <app-full-layout>
        <div>
          <div class="table-header gradient-head flex justify-content-between">
            <div class="heading">Shift Setup</div>
            <app-location-and-designation-filter
              (filtersChange)="filterChange($event)"
            >
            </app-location-and-designation-filter>

            <!-- <div class="btn-options flex align-content-center">
            <a href="#" class="btn-custom"
              >Advance Filter
              <i><img src="assets/icons/filter.svg" alt="" /></i>
            </a>
          </div> -->
          </div>

          <div class="shift-setup">
            <div class="shadow pb0-10">
              <app-sub-layout>
                <div class="shift-card">
                  <div class="form-col">
                    <div>
                      <app-select-box
                        [label]="'Shift Type'"
                        [form]="shiftRequestLMform"
                        [control]="'shift_id'"
                        [data]="shiftTypeArray"
                      ></app-select-box>
                    </div>
                    <div>
                      <app-input-box
                        [label]="'Shift Name'"
                        [form]="shiftRequestLMform"
                        [control]="'shift_name'"
                      ></app-input-box>
                    </div>
                    <div>
                      <app-time-box
                        [label]="'From'"
                        [form]="shiftRequestLMform"
                        [control]="'start_date'"
                      ></app-time-box>
                    </div>
                    <div>
                      <app-time-box
                        [label]="'To'"
                        [form]="shiftRequestLMform"
                        [control]="'end_date'"
                      ></app-time-box>
                    </div>
                  </div>
                  <div class="form-col pt10-0">
                    <div>
                      <app-input-box
                        [width]="'1149px'"
                        [label]="'comments'"
                        [form]="shiftRequestLMform"
                        [control]="'lm_comment'"
                      ></app-input-box>
                    </div>
                  </div>
                </div>
              </app-sub-layout>
            </div>
            <!-- <div class="shift-setup-footer"></div> -->
            <div class="calendar-footer justify-content-end">
              <div class="modal-footer-button flex">
                <input
                  type="button"
                  class="btn-input"
                  value="Submit"
                  [disabled]="!this.shiftRequestLMform.valid"
                  (click)="submit()"
                />
              </div>
            </div>
          </div>
        </div>
      </app-full-layout>
      <app-full-layout>
        <div class="pt-10">
          <div class="table-header gradient-head flex justify-content-between">
            <div class="heading">Shift list</div>
            <div class="btn-options flex align-content-center"></div>
          </div>
          <div class="shift-setup">
            <div class="shadow no-pad">
              <app-shift-list [data]="shiftsArray"></app-shift-list>
            </div>
            <div class="shift-setup-footer"></div>
          </div>
        </div>
      </app-full-layout>
    </div>
  </div>
</form>
