@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin padding-20 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@mixin border-radius {
  border-radius: 4px;
}

@mixin square($size, $height, $radius: 0) {
  width: $size;
  height: $height;
  @if $radius != 0 {
    border-radius: $radius;
  }
}

// @mixin card-shadow {
//   box-shadow: 0px 6px 12px 0px rgba($color: #D1D2D4, $alpha: 0.3);
// }

@mixin card-shadow($x, $y, $blur, $color, $opacity) {
  box-shadow: $x $y $blur rgba($color: $color, $alpha: $opacity);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient {
  background: transparent linear-gradient(180deg, #f7f7f7 0%, #d6d6d6 100%) 0%
    0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
}

body {
  @include reset-list;
  font-family: $font-roboto;
  color: $body-color;
  font-size: 12px;
  background: url(../../images/img-bg.jpg);
  background-position: top center;
  background-repeat: repeat-x;
}

.wrapper {
  width: 1250px;
  margin: 0px auto;
  background-color: #fff;
  height: auto;
  @include padding-20;
}
.container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  max-width: initial;
  padding: 0px;
}
.vh-center {
  @include flex-center;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: rgba($blue, 0.7);
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}
