<div class="wrapper">
  <div class="container">
    <div class="attendance-calendar-wrapper">
      <div class="header-calendar flex space-between">
        <div>Attendance</div>

        <div><img src="assets/icons/icon-stack.svg" alt="" /></div>
      </div>

      <div class="month-calendar">
        <div class="month-calendar-header flex space-between">
          <div><img src="assets/icons/Left.svg" alt="" /></div>
          <div>May 2019</div>
          <div><img src="assets/icons/Right.svg" alt="" /></div>
        </div>

        <div class="month-body">
          <div class="list-weekday">
            <ul>
              <li>M</li>
              <li>T</li>
              <li>W</li>
              <li>T</li>
              <li>F</li>
              <li>S</li>
              <li>S</li>
            </ul>
          </div>

          <div class="list-day">
            <ul>
              <li>30</li>
              <li>01</li>
              <li>02</li>
              <li>03</li>
              <li>04</li>
              <li class="late-arrival">05</li>
              <li>06</li>

              <li>30</li>
              <li>01</li>
              <li>02</li>
              <li>03</li>
              <li>04</li>
              <li>05</li>
              <li>06</li>

              <li>30</li>
              <li>01</li>
              <li>02</li>
              <li>03</li>
              <li>04</li>
              <li>05</li>
              <li>06</li>

              <li>30</li>
              <li>01</li>
              <li>02</li>
              <li>03</li>
              <li>04</li>
              <li>05</li>
              <li>06</li>

              <li>30</li>
              <li>01</li>
              <li>02</li>
              <li>03</li>
              <li>04</li>
              <li>05</li>
              <li>06</li>
            </ul>
          </div>

          <div class="list-color-code">
            <ul>
              <li><span></span> Business Travel</li>
              <li><span class="leave-application"></span>Leave Applied</li>
              <li><span></span>Public Holiday</li>
              <li><span></span>Work Leave</li>
              <li><span></span>Late Arrival</li>
              <li><span></span>Late Arrival > <i>09:30 AM (absent)</i></li>
              <li><span></span>Absent</li>
            </ul>
          </div>
        </div>
        <div class="footer-count">CPL Count <span>4</span></div>
      </div>
    </div>
  </div>
</div>
