<!-- Body -->
<!-- Modal Body -->
<div class="form-col">
  <div>
    <app-select-box></app-select-box>
  </div>
  <div>
    <app-select-box></app-select-box>
  </div>
</div>

<app-sub-layout>
  <div class="shift-card-wrapper">
    <div class="shift-header">
      <div>Additional Shifts</div>
      &nbsp;
      <div style="padding: 30px">
        <input type="radio" (click)="view = 'shift'" />
        &nbsp;
        <label>Additional Shift</label>
      </div>
      &nbsp;
      <div>
        <input type="radio" (click)="view = 'hours'" />
        &nbsp;
        <label>Additional Hours</label>
      </div>
    </div>
    <div class="shift-card">
      <div class="form-col">
        <div *ngIf="view == 'shift'">
          <app-select-box [data]="shifts" [form]="additionalShiftForm" [control]="'additionalShift'" [label]="'Additional Shift'"  ></app-select-box>
        </div>
        <div *ngIf="view == 'hours'">
          <app-input-box [form]="additionalHoursForm" [control]="'additionalShiftHours'" [label]="'Additional Hours Shift'" ></app-input-box>
        </div>
      </div>
    </div>
  </div>
</app-sub-layout>

<!-- footer -->

<!-- END footer -->
