<!-- Body -->
<!-- Modal Body -->
<div class="form-col pbt-0">
  <div>
    <app-select-box
      [label]="'Select Employee'"
      [form]="additionalShiftForm"
      [control]="'employee_id'"
      [data]="employeesDropdown"
      (selectionChange)="selectionChanged($event)"
    ></app-select-box>
  </div>
  <div>
    <app-select-box
      [label]="'Assigned Shift'"
      [form]="additionalShiftForm"
      [control]="'additional_shift_id'"
      [data]="employeesName"
      [defaultValue]="assignedShiftDefaultValue"
    ></app-select-box>
  </div>
</div>

<app-sub-layout>
  <div class="shift-card-wrapper custom-ptb">
    <div class="shift-header">
      <div>Additional Shifts</div>
      &nbsp;
      <div style="padding: 30px">
        <input
          type="radio"
          value="shift"
          name="additional"
          (click)="radioChange('shift')"
        />
        &nbsp;
        <label>Additional Shift</label>
      </div>
      &nbsp;
      <div>
        <input
          name="additional"
          type="radio"
          value="hours"
          (click)="radioChange('hours')"
        />
        &nbsp;
        <label>Additional Hours</label>
      </div>
    </div>
    <div class="shift-card">
      <div class="form-col">
        <div *ngIf="view == 'shift'">
          <app-select-box
            [data]="shifts"
            [form]="additionalShiftForm"
            [control]="'additionalShift'"
            [label]="'Additional Shift'"
          ></app-select-box>
        </div>
        <div *ngIf="view == 'hours'">
          <app-input-box
            [form]="additionalHoursForm"
            [control]="'additionalShiftHours'"
            [label]="'Additional Hours'"
          ></app-input-box>
        </div>
      </div>
    </div>
  </div>
</app-sub-layout>

<!-- footer -->

<!-- END footer -->
