.module-style.lm-portal-nms {
    .pl-cus-20 {
        padding-left: 20px;
    }
    .pr-cus-18 {
        padding-right: 18.5px;
    }
    .pl-cus-18 {
        padding-left: 18.5px;
    }
    .p-cus-0 {
        padding: 0 !important;
    }

    .mb-cus-3 {
        margin-bottom: 3px;
    }
    .border-0 {
        border: none !important;
    }
    .p-0-lr-10{
        padding: 0px 10px !important;
    }
}