<!-- Modal list -->

<div class="modal-custom w-530 bg-white">
  <div class="gradient-head flex justify-content-between">
    <div class="heading">Morning Shift</div>
    <div class="btn-options flex align-content-center">
      <a (click)="activeModal.close('Close click')"
        ><img src="assets/icons/ico-close.svg" alt=""
      /></a>
    </div>
  </div>
  <!-- Body -->

  <div class="user-list-employee">
    <div class="search-row pb-shift">
      <form action="" class="flex space-between w-100">
        <div class="right-menu d-flex c-gap">
          <div class="label custom-week">
            <p class="c-pt-2" [class.bg-custom-imp]="modelData.name != 'No Weekends'">{{modelData.name}}</p>
          </div>
          <div class="c-num-label">{{modelData.employees.length}}</div>
        </div>
        <app-input-box 
          [width]="'105px'" 
          [height]="'20px'"
          (inputChanged)="search($event)">
        </app-input-box>
      </form>
    </div>
    <ul class="c-ul-wid-gap">
      <app-employee-card *ngFor="let emp of modelData.employees">
        <li class="c-width-li">
          <div class="user-img" *ngIf="!emp.picture || emp.picture == 'dummy.jpg'">
            <img src="assets/images/img-dummy.png" alt="" />
          </div>

          <div class="user-img" *ngIf="emp.picture && emp.picture != 'dummy.jpg'">
            <img src="{{emp.picture}}" alt="" />
          </div>
          <div class="employee-detail">
            <div class="heading-lg">{{emp.name}}</div>
            <div class="heading-sm text-secondary">#{{emp.emp_id}}</div>
          </div>
        </li>
      </app-employee-card>
      
    </ul>
  </div>

  <!-- footer -->

  <div class="modal-custom-footer">
    <div class="clues">
      <span> </span>
      <span> </span>
    </div>

    <div class="modal-footer-button flex">
      <input
        (click)="activeModal.close('Close click')"
        type="button"
        class="btn-input"
        value="Close"
      />
    </div>
  </div>
</div>
