.custom-week {
  text-align: center;
  height: 15px;
  width: 80px;
  background-color: #fb887a;
  color: white;
  border-radius: 20px;
}
.c-num-label {
  height: 14px;
  width: 20px;
  background-color: #61bf63;
  color: white;
  text-align: center;
  align-self: center;
}

.c-gap {
  gap: 5px;
}
.pb-shift {
  padding: 0px 0px 20px 0px;
}
.c-input-whb {
  height: 20px;
  width: 105px;
  border: 1px solid #dbdcdf;
}
