<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list">
    <app-main-card>
      <ul>
        <div class="row">
          <div class="col" style="flex-grow: 0">
            <input type="checkbox" />
          </div>
          <div class="col"><li class="heading-date">01 Nov 2021</li></div>
        </div>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
      </ul>
    </app-main-card>
    <app-main-card>
      <ul>
        <div class="row">
          <div class="col" style="flex-grow: 0">
            <input type="checkbox" />
          </div>
          <div class="col"><li class="heading-date">01 Nov 2021</li></div>
        </div>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
        <app-employee-card>
          <div class="row">
            <div class="col" style="flex-grow: 0">
              <input type="checkbox" />
            </div>
            <div class="col">
              <li>
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">Natalya Neidhart</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
      </ul>
    </app-main-card>
  </div>
</div>
