<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list">
    <app-main-card *ngFor="let entry of data">
      <ul>
        <div class="row m-0">
          <div class="col p-0 d-flex" style="flex-grow: 0; align-items: center;">
            <input type="checkbox" (click)="open('all Employees')" />
          </div>
          <div class="col p-0">
            <li class="heading-date pl-2">{{ entry.date }}</li>
          </div>
        </div>
        <app-employee-card *ngFor="let employee of entry.employees">
          <div class="row custom-w-260">
            <div class="col d-flex pl-20" style="align-items: center;">
              <input type="checkbox" (click)="open(employee)" />
            </div>

            <div class="col custom-pl-6">
              <li class="custom-w-210">
                <div class="user-img">
                  <img src="assets/images/img-dummy.png" alt="" />
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">{{ employee.emp_name }}</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-employee-card>
      </ul>
    </app-main-card>
  </div>
</div>
