<div class="module-style notification-reciever-popup">
  <div class="row w-100 m-0 bg-white">
    <div class="col-md-12 p-0 mb-2 row m-0">
      <div class="justify-bw people-title-heading mt-0 col-md-12 py-2 px-0">
        <div
          class="row emp-content noti-reciever noti-header justify-bw col-md-12 m-0"
        >
          <div class="fields-content col-2 px-1">Receivers List</div>
          <div class="fields-content col-4 row just-end m-0 px-1 justify-around">
            <div class="col-6 p-0">Target Receivers Count</div>
            <div class="col-1 p-0 text icon-wrapper">
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="col-2 text">{{ userCount }}</div>
            <div class="col-1 text-right p-0 close" (click)="closeButton()"><img src="assets/images/close.svg" /></div>
          </div>
        </div>
      </div>
      <div class="p-cus-10-25 doc-content col-12">
        <div class="m-0">
          <div
            class="people-sub-title-heading emp-content noti-reciever row justify-bw m-0 p-0"
          >
            <div class="col-2">
              <h4>Target Receivers</h4>
            </div>
            <!-- <div *ngIf="isCheckAll" class="fields-content col px-1 select-all">
              <span *ngIf="isSelectAll">
                All {{ userCountAll }} recievers are selected.
                <span class="select-recievers" (click)="clearSelection()"
                  >Clear selection</span
                >
              </span>
              <span *ngIf="!isSelectAll">
                All {{ userCount }} recievers on this page are selected.
                <span class="select-recievers" (click)="selectAll()"
                  >Select all {{ userCountAll }} recievers</span
                >
              </span>
            </div> -->
            <div class="col custom-input-wrapper">
              <input
                class="emp-input custom-input"
                type="text"
                placeholder="Search"
                [(ngModel)]="searchTerm"
                (keyup)="search(searchTerm)"
              />
            </div>
          </div>
          <div
            class="scroll-results table-scroll w-100 col-md-12 doc-content comp-card p-0"
            infiniteScroll
            
            [infiniteScrollDistance]="3"
            [infiniteScrollThrottle]="50"
            [alwaysCallback] = "true"
            [scrollWindow]="false"
            (scrolled)="getDataOnScroll()"
          >
            <table class="doc-records">
              <tr>
                <th>
                  <div class="emp-content noti-reciever p-0">
                    <div class="check">
                      <mat-checkbox
                        class="cus-pad-top-2"
                        #checkAll
                        (change)="toggleCheck(checkAll.checked)"
                        color="primary"
                        [indeterminate]="indeterminate"
                        [checked]="check"
                      >
                      </mat-checkbox>
                    </div>
                  </div>
                </th>
                <th>Name</th>
                <th>Code</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Branch</th>
                <th>Company</th>
              </tr>
              <tr *ngFor="let employee of employeesList; let i = index">
                <td>
                  <div class="emp-content noti-reciever p-0">
                    <div class="check">
                      <mat-checkbox
                        class="cus-pad-top-2"
                        #empCheck
                        (change)="[ selectionChanged(empCheck.checked, i)]"
                        color="primary"
                        [checked]="employee.checked"
                      >
                      </mat-checkbox>
                    </div>
                  </div>
                </td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.code }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.branch }}</td>
                <td class="text-truncate">{{ employee.company }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrapper d-flex just-end">
    <button [disabled]="userCount == 0"  (click)="submit()" class="def-btn cus-m-r-3">Submit</button>
    <button (click)="closeButton()" class="def-btn cus-m-l-3">Cancel</button>
  </div>
</div>
