.module-style {
    .set-pad-x-18 {
        padding-left: 18.5px !important;
        padding-right: 18.5px !important;
    }

    .set-pad-l-20 {
        padding-left: 20px !important;
        padding-right: 18.5px !important;
    }
    
    .set-pad-r-20 {
        padding-left: 18.5px !important;
        padding-right: 20px !important;
    }
    .p-cus-0 {
        padding: 0 !important;
    }
    .p-0-lr-10{
        padding: 0px 10px !important;
    }
}