.cdk-column-empid {
 flex: 0 0 10%;
}

.cdk-column-name {
 flex: 0 0 20%;
}

.cdk-column-designation {
 flex: 0 0 22%;
}

.cdk-column-department {
 flex: 0 0 19%;
}

.cdk-column-band {
 flex: 0 0 8%;
}

.cdk-column-joining_date {
 flex: 0 0 11%;
}

.cdk-column-emp_status {
 flex: 0 0 10%;
}
::ng-deep .mat-form-field .mat-form-field-infix {
    border-top: 0;
    padding: 3px 5px 0 !important;
    height: 20px;
    box-sizing: border-box;
    width: 103px;
}
