<div *ngFor="let error of controlErrors">
    <span *ngIf="error?.required">This field is required</span>
    <!-- <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span>
    <span *ngIf="error?.required">This field is required</span> -->
</div>