<div class="wrapper h-25">
  <div class="container">
    <app-full-layout>
      <div>
        <div class="table-header gradient-head flex justify-content-between">
          <div class="heading">Shift Allocation</div>
          <app-location-and-designation-filter
            [showSearch]="true"
            (filtersChange)="filtersChanged($event)"
            [resetFilters]="reset"
          >
          </app-location-and-designation-filter>
        </div>
        <div class="shift-setup">
          <app-sub-layout>
            <div class="shift-card">
              <div class="form-col p-20">
                <div>
                  <app-select-box
                    [label]="'Shift Name'"
                    [form]="form"
                    [control]="'shift_id'"
                    [data]="shifts"
                    (selectionChange)="shiftSelection($event)"
                  ></app-select-box>
                </div>
                <div>
                  <app-date-box
                    [label]="'Shift Period Start Date'"
                    [form]="form"
                    [control]="'start_date'"
                  ></app-date-box>
                </div>
                <div>
                  <app-date-box
                    [label]="'Shift Period End Date'"
                    [form]="form"
                    [control]="'end_date'"
                  ></app-date-box>
                </div>
                <div class="row align-content-center">
                  <app-check-box
                    [color]="'#3080EA'"
                    [label]="'Set as Default'"
                    [form]="form"
                    [control]="'set_default'"
                  ></app-check-box>
                </div>
              </div>
            </div>
          </app-sub-layout>

          <!-- <div class="shift-setup-footer"></div> -->
        </div>
      </div>
    </app-full-layout>
  </div>
</div>
