<div class="modal-custom bg-white w-100">
  <app-dialog-layout>
    <div class="gradient-head flex justify-content-between">
      <div class="heading">what Kind of Weekend is It?</div>
      <div class="btn-options flex align-content-center">
        <a (click)="activeModal.close('Close click')"
          ><img src="assets/icons/ico-close.svg" alt=""
        /></a>
      </div>
    </div>
    <!-- Body -->
    <div class="overtime-form">
      <div style="padding: 20px 20px">
        <app-select-box [label]="'Weekend Type'"
        [data]="weekendTypes"
        (selectionChange)="leaveTypeSelection($event)"
        ></app-select-box>
      </div>
    </div>

    <!-- footer -->

    <div class="modal-custom-footer">
      <div class="clues">
        <span> </span>
        <span> </span>
      </div>

      <div class="modal-footer-button flex">
        <input
          type="button"
          class="btn-input"
          value="Submit"
          (click)="activeModal.close('Close click')"
        />
        <input
          type="button"
          class="btn-input"
          value="Cancel"
          (click)="activeModal.close('Close click')"
        />
      </div>
    </div>
  </app-dialog-layout>
</div>
