<!-- Body -->
<!-- Modal Body -->
<div class="form-col">
  <div>
    <app-input-box></app-input-box>
  </div>
  <div>
    <app-input-box></app-input-box>
  </div>
</div>
<app-sub-layout>
  <div class="shift-card-wrapper">
    <div class="shift-header">Swap Shift</div>
    <div class="shift-card">
      <div class="form-col">
        <div>
          <app-date-box></app-date-box>
        </div>
        <div>
          <app-select-box></app-select-box>
        </div>
        <div>
          <app-select-box></app-select-box>
        </div>
      </div>
    </div>
  </div>
</app-sub-layout>

<!-- footer -->
<!-- END footer -->
