<!-- Body -->
<!-- Modal Body -->
<div class="form-col pbt-0">
  <div>
    <app-select-box
      [label]="'Select Employee'"
      [form]="swipeShiftForm"
      [control]="'employee_id'"
      [data]="employeesDropdown"
      (selectionChange)="selectionChanged($event)"
    ></app-select-box>
  </div>
  <div>
    <app-select-box
      [label]="'Assigned Shift'"
      [form]="swipeShiftForm"
      [control]="'assigned_shift'"
      [data]="employeesName"
      [defaultValue]="assignedShiftDefaultValue"
    ></app-select-box>
  </div>
</div>
<app-sub-layout>
  <form [formGroup]="swipeShiftForm">
    <div class="shift-card-wrapper custom-ptb">
      <div class="shift-header">Swap Shift</div>
      <div class="shift-card">
        <div class="form-col">
          <div>
            <app-date-box
              [form]="swipeShiftForm"
              [control]="'assigned_roster_date'"
              [label]="'Select Date'"
            ></app-date-box>
            <div>
              <p class="custom-opacity-pt">
                *Select date for swapping on other days shifts
              </p>
            </div>
          </div>
          <div>
            <app-select-box
              [data]="swipeDropdown"
              [form]="swipeShiftForm"
              [control]="'swipeShift'"
              [label]="'Swape Shift'"
            ></app-select-box>
          </div>
          <div>
            <app-select-box
              [data]="employeesDropdown"
              [form]="swipeShiftForm"
              [control]="'replaceWithEmployeeId'"
              [label]="'Replace With'"
            ></app-select-box>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-sub-layout>

<!-- footer -->
<!-- END footer -->
