<div class="container">
  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-items">
          <a class="nav-link active" routerLink="/calender">Calender</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster">Roster</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftAllocation"
            >Shift Allocation</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/rosterCPL">Roster CPL</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/single">Single Shift</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/overtime">Overtime</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftdetails"
            >Shift Details</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/disclaimer"
            >Disclaimer Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/avaliableshift"
            >Shifts Avaliable dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftmanagement"
            >Shift Management dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/jobshift">job shift dialog</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftrequest"
            >Shift Request</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
