<div class="container">
  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-items">
          <a class="nav-link active" routerLink="/calender">Calender</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster">Roster</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftAllocation"
            >Shift Allocation</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/rosterCPL">Roster CPL</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/single"
            >Single Shift Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/overtime">Overtime Dialog</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftdetails"
            >Single Shift Details Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/disclaimer"
            >Disclaimer Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/avaliableshift"
            >Shifts Avaliable dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftmanagement"
            >Shift Management dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/morningshift"
            >Morning job shift dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/nightshift"
            >Night job shift dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/shiftrequest"
            >Shift Request</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/employeeshift"
            >Employee Shift Management Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/overtimehours"
            >Overtime Hours Adjusment Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/requestapproval"
            >Request Approval</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
