<div class="container" style="padding-top: 260px">
  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/calender">Calender</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/roster">Roster</a>
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/shiftAllocation"
            >Shift Allocation</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/rosterCPL"
            >Roster CPL</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/single"
            >Single Shift Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/overtime"
            >Overtime Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/shiftdetails"
            >Single Shift Details Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/disclaimer"
            >Disclaimer Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/avaliableshift"
            >Shifts Avaliable dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/shiftmanagement"
            >Shift Management dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/morningshift"
            >Morning job shift dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/nightshift"
            >Night job shift dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/shiftrequest"
            >Shift Request</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/shiftsetup"
            >Shift Setup</a
          >
        </li>

        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/overtimehours"
            >Overtime Hours Adjusment Dialog</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/shiftcalender"
            >shift calender</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/checkInOut"
            >Check In Out</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link active" routerLink="/roster/RequestLM"
            >Shift Request LM</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
