<div id="config" style="display: none">{{ siteConfig }}</div>

<!-- <div class='onesignal-customlink-container' id="one-signal-popu-notification" style="display: none;"></div> -->

<div
  class="onesignal-customlink-container"
  id="one-signal-popu-notification"
  style="display: none"
></div>
<div id="loader-body" class="loading showLoader">
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
</div>
<router-outlet></router-outlet>
<!-- router views go here -->
