<app-board-card>
    <div class="header">
      <div class="flex space-between w-100">
        <div class="title-column">
          {{shift.name}}
          <div class="filter">
            <span class="arrow is-triangle is-top"></span>
            <span class="arrow is-triangle is-bottom"></span>
          </div>
        </div>

        <div class="right-menu">
          <div class="label">{{length}}</div>
          <div class="vertical-menu">
            <div class="dropdown-vertical">
              <!-- three dots -->
              <ul
                class="dropbtn icons showLeft btn-right"
              >
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <!-- menu -->
              <div id="myDropdown" class="dropdown-content">
                <a href="#home">Open</a>
                <a href="#about">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search-row">
        <form action="" class="flex space-between w-100">
          <label for="select">
            <input type="checkbox" name="select" id="select" />
            Select All</label
          >
          <input type="text" />
        </form>
      </div>
    </div>
    <!-- Job list -->
    <div *ngFor="let arr of masterArray">
      <app-employee-shift-card
      [dayName]="arr.name"
      [data]="arr.array"
      (itemDropped)="drop($event)"
      ></app-employee-shift-card>
    </div>
    <!-- Job list - END -->
  </app-board-card>