<div class="wrapper">
  <app-full-layout>
    <div class="container">
      <div class="table-header gradient-head flex justify-content-between">
        <div class="heading">Roster</div>
        <div class="btn-options flex align-content-center">
          <app-select-box
            [label]="'Shifts'"
            [width]="'105px'"
            [height]="'20px'"
            [name]="'employees'"
            [hideLabel]="true"
            [customClass]="['padding-top-3', 'carret_position_9']"
            [data]="shiftsArray"
          ></app-select-box>
        </div>
      </div>

      <div class="shadow">
        <div class="calendar-wrapper">
          <div class="calendar-navigation">
            <a
              ><img
                src="assets/icons/ico-left-arrow.svg"
                alt=""
                (click)="getMonthAndYear()"
            /></a>
            <ul class="years-list">
              <li
                class="black"
                [class.color-blue]="month == months[2]"
                *ngFor="let month of months"
              >
                {{ month }}
              </li>
            </ul>
            <a
              ><img
                src="assets/icons/ico-right-arrow.svg"
                alt=""
                (click)="getMonthAndYear(true)"
            /></a>
          </div>
          <table class="table calendar-roaster">
            <thead>
              <tr>
                <th scope="col" *ngFor="let weekday of weekDays">
                  {{ weekday }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nestedArray of reshapedData; index">
                <td
                  *ngFor="let days of nestedArray"
                  [ngStyle]="{ background: getCheckingColor(days) }"
                >
                  <table class="cal-cell">
                    <tr *ngIf="days.shift_name">
                      <td>{{ days.shift_name }}</td>
                    </tr>

                    <tr *ngIf="!days.shift_name">
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">{{ days.date }}</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td *ngIf="days.actual_shift_time_in">
                        <span>In</span>{{ days?.actual_shift_time_in
                        }}<span class="dash">-</span><span>Out</span>
                        {{ days?.actual_shift_time_out }}
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>

                <!-- <td class="disable">
                  <table class="cal-cell">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">30</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td>
                        <span>In</span>08:46 AM<span class="dash">-</span
                        ><span>Out</span> 03:05 PM
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>

                <td class="morning-shift">
                  <table class="cal-cell">
                    <tr>
                      <td>Morning Shift</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">30</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td>
                        <span>In</span>08:46 AM<span class="dash">-</span
                        ><span>Out</span> 03:05 PM
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>

                <td class="evening-shift">
                  <table class="cal-cell">
                    <tr>
                      <td>Morning Shift</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">30</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td>
                        <span>In</span>08:46 AM<span class="dash">-</span
                        ><span>Out</span> 03:05 PM
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>

                <td class="night-shift">
                  <table class="cal-cell">
                    <tr>
                      <td>Morning Shift</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">30</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td>
                        <span>In</span>08:46 AM<span class="dash">-</span
                        ><span>Out</span> 03:05 PM
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>
                <td class="sat-cell">
                  <table class="cal-cell">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">30</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>
                <td class="sat-cell">
                  <table class="cal-cell">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="cal-day">30</span>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="calendar-footer">
          <ul class="shift-hints">
            <li>
              <span class="custom-hw-10"></span> Morning Shift (07:00 - 14:00)
            </li>
            <li>
              <span class="evening-shift custom-hw-10"></span> Evening Shift
              (14:00 - 00:00)
            </li>
            <li>
              <span class="night-shift custom-hw-10"></span> Night Shift (20:00
              - 05:00)
            </li>
          </ul>

          <ul class="shift-tags">
            <li>
              <i><img src="assets/icons/ico-present.svg" alt="" /></i>Present
            </li>
            <li>
              <i><img src="assets/icons/ico-absent.svg" alt="" /></i>Absent
            </li>
            <li>
              <i><img src="assets/icons/ico-leave-approved.svg" alt="" /></i
              >Leave Approved
            </li>
            <li>
              <i><img src="assets/icons/ico-present-02.svg" alt="" /></i>Present
            </li>
            <li>
              <i><img src="assets/icons/ico-not-scheduled.svg" alt="" /></i>Not
              Scheduled, but Present
            </li>
          </ul>
        </div>
      </div>
    </div>
  </app-full-layout>
</div>
