<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list date-wise">
    <app-main-card>
      <ul>
        <li class="heading-date">
          <div class="user-img">
            <img src="images/img-dummy.png" alt="" />
          </div>
          Natalya Neidhart
        </li>
        <app-date-card></app-date-card>
      </ul>
    </app-main-card>
    <app-main-card>
      <ul>
        <li class="heading-date">
          <div class="user-img">
            <img src="images/img-dummy.png" alt="" />
          </div>
          Natalya Neidhart
        </li>
        <app-date-card></app-date-card>
      </ul>
    </app-main-card>
  </div>
</div>
