<table class="table table-striped job-table-custom">
  <thead>
    <tr>
      <th scope="col">Shift Name</th>
      <th scope="col">Shift Type</th>
      <th scope="col">Department</th>
      <th scope="col">Time In</th>
      <th scope="col">Time Out</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Morning</td>
      <td>Full-time</td>
      <td>Software Development</td>
      <td>17:00</td>
      <td>21:30</td>
      <td>
        <div class="label">Approved</div>
      </td>
    </tr>
    <tr>
      <td>Morning</td>
      <td>Full-time</td>
      <td>Software Development</td>
      <td>17:00</td>
      <td>21:30</td>
      <td>
        <div class="label">Approved</div>
      </td>
    </tr>
  </tbody>
</table>
