<app-dialog-layout>
  <div class="wrapper">
    <div class="container">
      <div class="shift-drop-down">
        <div class="shift-dd-header">
          Wednesday, 01 June 2022
          <i
            ><a href="#"><img src="assets/icons/ico-close.svg" alt="" /></a
          ></i>
        </div>
        <!-- search panel -->
        <div class="shift-dd-search">
          <input type="search" placeholder="Search" />
        </div>
        <!-- users list -->
        <div class="dd-list">
          <ul>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
            <app-employee-card>
              <li>
                <div class="user-img">
                  <div class="img-icon">
                    <img src="assets/images/img-dummy.png" alt="" />
                  </div>
                  Natalya Neidhart
                </div>
                <div class="employee-detail">
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </app-employee-card>
          </ul>
        </div>
      </div>
    </div>
  </div>
</app-dialog-layout>
