<app-dialog-layout>
  <div class="shift-drop-down bg-white" *ngIf="show" style="position: absolute;" [ngStyle]="{'z-index' : 1, 'top': top , 'bottom' : bottom , 'left' : left }">
    <div class="shift-dd-header">
      {{date}}
      <i
        ><a (click)="closeModal()"
          ><img src="assets/icons/ico-close.svg" alt="" /></a
      ></i>
    </div>
    <!-- search panel -->
    <div class="shift-dd-search">
      <input type="search" placeholder="Search" />
    </div>
    <!-- users list -->
    <div class="dd-list">
      <ul>
        <app-employee-card *ngFor="let emp of employees">
          <li>
            <div class="user-img">
              <div class="img-icon">
                <img src="assets/images/img-dummy.png" alt="" />
              </div>
              {{emp.emp_name}}
            </div>
            <div class="employee-detail">
              <img src="assets/icons/ico-present-02.svg" alt="" />
            </div>
          </li>
        </app-employee-card>
      </ul>
    </div>
  </div>
</app-dialog-layout>
