<div class="agt-module w-100">
  <div class="comp-wrapper w-100" [class.required]="form?.get(control)?.errors?.required && form?.get(control)?.touched">
    <input
      [type]="type"
      [attr.disabled]="isdisabled? true : null"
      [ngStyle]="{ width: width }"
      id="input-box"
      [formControl]="form?.get(control)"
      class="input-box"
      type="text"
      placeholder=" "
    />
    <p class="label">{{ label }}</p>
  </div>
  <span
  class="text-right text-error d-block"
    *ngIf="form?.get(control)?.errors?.required && form?.get(control)?.touched"
    >required</span
  >
</div>
