<div class="agt-module w-100" >
  <div class="comp-wrapper" [class.required]="form?.get(control)?.errors?.required && form?.get(control)?.touched" [ngStyle]="{ 'width': width , 'height' : height }">
    <input
    *ngIf="!form && !control"
      [type]="type"
      [attr.disabled]="isdisabled? true : null"
      id="input-box"
      class="input-box"
      type="text"
      [placeholder]="placeHolder"
      (keyup)="inputChange($event)"
    />
    <input
      *ngIf="form && control"
      [type]="type"
      [attr.disabled]="isdisabled? true : null"
      id="input-box"
      [formControl]="form?.get(control)"
      class="input-box"
      type="text"
      [placeholder]="placeHolder"
      (change)="inputChange($event)"
    />
    <p class="label" [class.ags-bg-transparent]="isdisabled? true : null" *ngIf="!hideLabel">{{ label }}</p>

  </div>
  <span
  class="text-right text-error d-block"
    *ngIf="form?.get(control)?.errors?.required && form?.get(control)?.touched"
    >required</span
  >
</div>
