<div class="table-header gradient-head flex justify-content-between">
  <div class="heading">Roaster</div>
  <div class="btn-options flex align-content-center">
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px">
      <app-select-box> </app-select-box>
    </div>
    <div style="width: 80px"></div>
  </div>
</div>
