<div class="table-header gradient-head flex justify-content-between">
  <ng-content></ng-content>
  <div class="btn-options flex align-content-center">
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div >
      <app-select-box [width]="'105px'" [height]="'20px'"> </app-select-box>
    </div>
    <div ></div>
  </div>
</div>
