<app-sub-layout>
  <div class="shift-card-wrapper">
    <div class="shift-header">Approval Details</div>
    <div class="shift-card">
      <div class="form-col no-wrap">
        <div>
          <app-input-box
            [color]="'black'"
            [label]="'LM Status'"
          ></app-input-box>
        </div>
        <div>
          <app-input-box
            [width]="'558px'"
            [label]="'LM Comments'"
            [color]="'black'"
          ></app-input-box>
        </div>
        <div>
          <app-input-box [color]="'black'" [label]="'Dated'"></app-input-box>
        </div>
      </div>
      <div class="form-col no-wrap">
        <div>
          <app-input-box
            [color]="'black'"
            [label]="'HR Status'"
          ></app-input-box>
        </div>
        <div>
          <app-input-box
            [width]="'558px'"
            [label]="'HR Comments'"
          ></app-input-box>
        </div>
        <div>
          <app-input-box [color]="'black'" [label]="'Dated'"></app-input-box>
        </div>
      </div>
    </div>
  </div>
</app-sub-layout>

<!-- checvk -->
