<div class="agt-module">
  <div class="comp-wrapper">
    <div class="select-wrapper w-cus-260 col px-cus-0">
      <mat-form-field class="cus-m-0" appearance="fill">
      <mat-label>{{ label }}</mat-label>
      <mat-select panelClass="options-panel">
        <!-- <mat-option *ngIf="!isLoaded" class="module-style">
          <div class="skeleton-loader progress pulse"></div>
        </mat-option>
        <mat-option *ngIf="!isLoaded" class="module-style">
          <div class="skeleton-loader progress pulse"></div>
        </mat-option>
        <mat-option *ngIf="!isLoaded" class="module-style">
          <div class="skeleton-loader progress pulse"></div>
        </mat-option> -->
        <input
          name="searchWord"
          type="text"
          class="search-input"
          placeholder="Search"
        />
        <!-- <mat-option *ngIf="data.length == 0 && isLoaded"
          >No Record Found</mat-option
        > -->
        <mat-option *ngFor="let item of data" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
