<div class="agt-module">
  <div #wrapperSelect class="comp-wrapper w-h-260 required" [class.required]="form?.get(control)?.errors?.required && form?.get(control)?.touched" [ngStyle]="{ 'width': width , 'height' : height }" >
    
      <!-- <input type="text"> -->
      
      <select *ngIf="form && control" class="d-none" [formControl]="form?.get(control)">
        <option *ngFor="let option of data" [value]="option.id" [selected]="hash[option.id]">{{option.name}}</option>
      </select>

      <select *ngIf="!form && !control" class="d-none">
        <option *ngFor="let option of data" [value]="option.id" [selected]="hash[option.id]">{{option.name}}</option>
      </select>
      
    <p class="label" [class.d-none]="hideLabel && selectedValue !=''" [class.label_up]="!hideLabel && (isClicked || selectedValue !='')" [class.agt-disabled]="disabled">{{label}}</p>


    <div  class="select-selected light-border" [class.agt-disabled-select-selected]="disabled" (click)="toggleDropdown()" #mainContainer>
      <span class="overflow-text-hidden">{{selectedValue}}</span>
      <span *ngIf="selectedValue !='' && multiSelect && !hideLabel" class="data-tooltip">{{previousSelectionArray.length}}</span>
    </div>
    <!-- <app-error-msg [form]="form" [control]="control"></app-error-msg> -->
    <div class="select-items select-hide" id="custom-select" #dropdownList>

    <div>
      <app-input-box [label]="'Search'" class="w-100" [width]="'100%'" [height]="'20px'" [hideLabel]="true" [placeHolder]="'Search'"
      (inputChanged)="search($event)"
      ></app-input-box>
    </div>

    <div *ngIf="data.length == 0">
      No Data Found
    </div>

    <div *ngFor="let option of data" [class.same-as-selected]="hash[option.id]" (click)="optionSelected(option)"> 

      <app-check-box *ngIf="multiSelect" [checked]="hash[option.id]"></app-check-box> {{option.name}}
    </div>


      <!-- <div>BMW</div>
      <div class="same-as-selected">Citroen</div>
      <div>Ford</div>
      <div>Honda</div>
      <div>Jaguar</div>
      <div>Land Rover</div>
      <div>Mercedes</div>
      <div>Mini</div>
      <div>Nissan</div>
      <div>Toyota</div>
      <div>Volvo</div> -->
    </div>
  </div>
  <span *ngIf="form?.get(control)?.errors?.required && form?.get(control)?.touched" class="text-right d-block text-error">required</span>
</div>
