<div class="shift-management-wrapper pt-0">
  <div class="shift-management-list date-wise">
    <app-main-card>
      <ul class="custom-height-88">
        <div class="row m-0">
          <div class="col p-0 d-flex" style="flex-grow: 0">
            <input type="checkbox" />
          </div>
          <div class="col p-0">
            <li class="heading-date pl-2">
              <div class="user-img">
                <img src="assets/images/img-dummy.png" alt="" />
              </div>
              Natalya Neidhart
            </li>
          </div>
        </div>
        <app-date-card>
          <div class="row custom-w-260">
            <div class="col d-flex pl-20">
              <input type="checkbox" />
            </div>
            <div class="col custom-pl-6">
              <li class="custom-w-210">
                <div class="user-img">
                  <span></span>
                </div>
                <div class="employee-detail">
                  <div class="heading-lg">01-11-2020</div>
                  <img src="assets/icons/ico-present-02.svg" alt="" />
                </div>
              </li>
            </div>
          </div>
        </app-date-card>
      </ul>
    </app-main-card>
  </div>
</div>
