<app-dialog-layout>
  <div class="modal-custom modal-lg bg-white custom-w-932">
    <div class="gradient-head flex justify-content-between">
      <div class="heading">Shift Management (01-11-2021 - 01-12-2021)</div>
      <div class="btn-options flex align-content-center">
        <a
          ><img
            src="assets/icons/ico-close.svg"
            alt=""
            (click)="activeModal.close('Close click')"
        /></a>
      </div>
    </div>
    <!-- Body -->
    <div class="shift-management-wrapper pt-0">
      <div class="header pbt-0">
        <div class="search-row">
          <div class="mark-sheet">
            <div class="left-col">
              <label for="radio1">
                <input
                  type="radio"
                  value="weekend"
                  name="additional"
                  (click)="radioChange('weekend')"
                />
                Mark Weekends</label
              >
              <label for="radio1" (click)="view='change'">
                <input
                  type="radio"
                  value="change"
                  name="additional"
                  (click)="radioChange('change')"
                />Change Shift</label
              >
              <label for="radio1" (click)="view='additional'">
                <input
                  type="radio"
                  value="additional"
                  name="additional"
                  (click)="radioChange('additional')"
                />Assign Additional Shift</label
              >
            </div>
          </div>
        </div>
      </div>
      <app-mark-weekend
        *ngIf="view=='weekend'"
        [modelData]="modelData"
      ></app-mark-weekend>
      <app-change-shift
        *ngIf="view=='change'"
        [submitBtn]="submitted"
      ></app-change-shift>
      <app-additional-shift
        *ngIf="view=='additional'"
        [additionalShifts]="submitted"
      ></app-additional-shift>
    </div>

    <!-- footer -->

    <div class="modal-custom-footer">
      <ul class="shift-hints" style="display: flex; gap: 20px">
        <li><span></span> Morning Shift (07:00 - 14:00)</li>
        <li>
          <span class="evening-shift"></span> Evening Shift (14:00 - 00:00)
        </li>
        <li><span class="night-shift"></span> Night Shift (20:00 - 05:00)</li>
      </ul>

      <div class="modal-footer-button flex">
        <input
          type="button"
          class="btn-input"
          value="Submit"
          (click)="submit()"
        />
        <input
          type="button"
          class="btn-input"
          (click)="activeModal.close('Close click')"
          value="Cancel"
        />
      </div>
    </div>
  </div>
</app-dialog-layout>
