.agt-module {
  .comp-wrapper {
    display: flex !important;
    justify-content: right !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    position: relative;
    .label {
      text-align: left;
      font: normal normal normal 11px/13px Roboto;
      letter-spacing: 0px;
      color: #3080EA;
      opacity: 1;
      position: absolute;
      left: 3px;
      // top: 6.5px;
      transform-origin: 0 0;
      transform: translateY(-19px);
      padding-left: 7px;
      padding-right: 7px;
      background: #fff;
      transition: .25s;
    }
    .input-box {
      width: 260px;
      height: 26px;
      border: 1px solid #D8DCDF;
      border-radius: 4px;
      padding-left: 10px;
      &::placeholder {
        color: transparent !important;
        user-select: none !important;
      }
    }
    .input-box:focus + .label,
    .input-box:not(:placeholder-shown) + .label {
      transform: translateY(-34px);
    }
    mat-select label {
      color: #3080ea !important;
    }
    div select,
    div input,
    div textarea,
    .attachment label {
      font: normal normal normal 11px/13px Roboto !important;
      letter-spacing: 0px !important;
      color: #343434 !important;
      background: #ffffff 0% 0% no-repeat padding-box !important;
      border: 1px solid #d8dcdf !important;
      border-radius: 4px !important;
      padding-left: 10px !important;
    }
  }
  div mat-checkbox {
    border: none !important;
  }
  .check {
    width: min-content !important;
    white-space: nowrap;
    display: flex;
  }
  div select {
    width: -webkit-fill-available !important;
    height: 26px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    padding-right: 2rem !important;
  }
  &> div mat-form-field:focus-visible {
    outline: none !important;
  }
  div select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-position-x: 100% !important;
    background-position-y: center !important;
  }
  .select-wrapper .mat-form-field .mat-form-field-label-wrapper {
    top: -14px !important;
  }
  .select-wrapper
    .mat-form-field
    .mat-form-field-infix
    .mat-select-value-text
    span {
    position: relative !important;
    top: -2px !important;
  }

  .select-wrapper
    .mat-form-field
    .mat-form-field-infix
    .mat-select-arrow-wrapper {
    position: relative !important;
    top: -2px !important;
  }
}