
$font-roboto: 'Roboto', sans-serif;
$body-color: #343434;

//Job cards border colors
$blue:#3080EA;
$blue-light:#38B3FB;
$turquoise-medium:#38E0FB;

$red:#ED4C4C;
$red-light:#FFA79C;
$red-medium:#FB887A;

$purple-light: #BB86C8;
$orange:#FEC932;
$white: #fff;

$barberry:#E6D218;
$green:#1BC167;
$black: #343434;
$disable:#D8DCDF;

// border color all cards
$border-gray:#D8DCDF;
$border-size: 1px;
$border: $border-size $border-gray solid;

// Create all color classess



