<h3>Employee Shift Details layout Start</h3>
<app-board-card>
  <app-employee-card></app-employee-card>
  <hr />
  <app-employee-card></app-employee-card>
  <hr />
  <app-employee-card></app-employee-card>
  <hr />
  <app-employee-card></app-employee-card>
  <hr />
  <app-employee-card></app-employee-card>
  <hr />
</app-board-card>

<app-board-card>
  <app-employee-shift-card></app-employee-shift-card>
  <hr />
  <app-employee-shift-card></app-employee-shift-card>
  <hr />
  <app-employee-shift-card></app-employee-shift-card>
  <hr />
  <app-employee-shift-card></app-employee-shift-card>
  <hr />
  <app-employee-shift-card></app-employee-shift-card>
  <hr />
</app-board-card>
<h3>Employee Shift Details layout End</h3>
