.show-hover:hover > div {
  display: block;
  background-color: white !important;
  z-index: 111;
}
.show-hover > div {
  display: none;
  position: absolute;
  z-index: 1;
}

.show-hover {
  position: relative;
}

.dropdown-menu > a {
  display: flex;
  /* color: black !important; */
  font: normal normal normal 11px/13px Roboto;
  letter-spacing: 0px;
  color: #343434 !important;
  padding: 8px 10px;
}
.custom-pl-142 {
  padding-left: 142px;
}

.grey{
  color: #D8DCDF;
}

.color-black{
  color: #343434
}

.p-10-right{
  padding-right: 10px;
}