<div class="wrapper">
  <div class="container">
    <!-- <div>
      <app-location-and-designation-filter
        (filtersChange)="filterChange($event)"
        ><div class="heading">
          Calendar
        </div></app-location-and-designation-filter
      >
    </div> -->
    <div class="table-header gradient-head flex d-flex justify-content-between p-10-right">
      <div class="heading">Calendar</div>
      <div class="d-flex justify-content-center align-items-center">
        
          <app-location-and-designation-filter
            [showSearch]="true"
            (filtersChange)="filterChange($event)"
            [isLineManagerView]="false"
          >
          </app-location-and-designation-filter>
        
        <span class="" [class.disabled]="(filters && filters.countryId==-1)">
          <a (click)="openCalendar()" 
            class="btn-custom" 
            >Advance Filter
            <i><img src="assets/icons/filter.svg" alt="" /></i>
          </a>
        </span>
      </div>
    </div>

    <div class="shadow">
      <div class="calendar-wrapper">
        <div class="calendar-navigation">
          <a
            ><img
              src="assets/icons/ico-left-arrow.svg"
              alt=""
              (click)="getMonthAndYear()"
          /></a>

          <ul class="years-list">
            <li class="grey" [class.color-black]="year == years[2]"*ngFor="let year of years">{{ year }}</li>
          </ul>

          <a
            ><img
              src="assets/icons/ico-right-arrow.svg"
              alt=""
              (click)="getMonthAndYear(true)"
          /></a>
        </div>

        <div class="calendar-mini">
          <div
            class="calendar-mini-wrapper"
            *ngFor="let date of currentYearData"
          >
            <div class="month">{{ date.monthName }}</div>
            <ol class="calendar">
              <li class="day-name" *ngFor="let weekday of weekDays">
                {{ weekday }}
              </li>
              <li
                *ngFor="let singleDate of date.totalDaysInMonth"
                (click)="open(singleDate, date)"
                [ngStyle]="{ 'background-color': singleDate.color }"
                [class.selected]="singleDate.start_date"
                class="show-hover"
              >
                {{ singleDate.date }}

                <div class="btn-group dropright" *ngIf="singleDate.start_date">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    type="button"
                    class="date-dd bg-white dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    {{ singleDate.hdesc }}
                  </button>
                  <div class="dropdown-menu">
                    <a class="">Add</a>
                    <a class="" (click)="edit(singleDate)">Edit</a>
                    <a class="" (click)="delete(singleDate)">Delete</a>
                  </div>
                </div>
              </li>

              <!-- 
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li> -->
            </ol>
          </div>

          <!-- <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>
          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>
          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>
          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div>

          <div class="calendar-mini-wrapper">
            <div class="month">December 2020</div>
            <ol class="calendar">
              <li class="day-name">M</li>
              <li class="day-name">T</li>
              <li class="day-name">W</li>
              <li class="day-name">T</li>
              <li class="day-name">F</li>
              <li class="day-name">S</li>
              <li class="day-name">S</li>

              <li class="disabled">27</li>
              <li class="disabled">28</li>
              <li class="disabled">29</li>
              <li class="disabled">30</li>
              <li class="disabled">31</li>

              <li class="first-day">1</li>

              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li class="selected public-holiday">9</li>
              <li>10</li>
              <li class="selected off">11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>

              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ol>
          </div> -->
        </div>
      </div>

      <div class="calendar-footer justify-content-end">
        <div class="modal-footer-button flex">
          <input type="button" class="btn-input" value="Submit" />
          <input type="button" class="btn-input" value="Cancel" />
        </div>
      </div>
    </div>
  </div>
</div>
