<app-dialog-layout>
  <div class="modal-custom modal-lg bg-white modal-center custom-w-800">
    <div class="gradient-head flex justify-content-between">
      <div class="heading">
        Shift Management ({{dates.start}} - {{dates.end}})
      </div>
      <div class="btn-options flex align-content-center">
        <a
          ><img
            src="assets/icons/ico-close.svg"
            alt=""
            (click)="activeModal.close('Close click')"
        /></a>
      </div>
    </div>
    <!-- Body -->
    <div class="shift-management-wrapper pb-0">
      <div class="header">
        <div class="search-row">
          <form action="" class="flex space-between w-100">
            <!-- <div class="left-col">
              <label for="radio1">
                <input type="radio" id="date" (click)="display=true" />Sort by
                Date</label
              >
              <label for="radio1">
                <input type="radio" id="employee" (click)="display=false" />Sort
                by Employee</label
              >
            </div> -->
            <div class="left-col">
              <label for="radio1">
                <input
                  type="radio"
                  value="date"
                  name="sort"
                  (click)="radioChange('date')"
                />Sort by Date</label
              >
              <label for="radio1">
                <input
                  type="radio"
                  value="employee"
                  name="sort"
                  (click)="radioChange('employee')"
                />Sort by Employee</label
              >
            </div>
            <input type="text" />
          </form>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div>
      <app-sort-by-date
        *ngIf="view == 'date'"
        [dates]="dates"
      ></app-sort-by-date>
      <app-sort-by-employee *ngIf="view == 'employee'" [dates]="dates">
      </app-sort-by-employee>
    </div>
    <div class="modal-custom-footer">
      <ul class="shift-hints" style="display: flex; gap: 20px" git>
        <li><span></span> Morning Shift (07:00 - 14:00)</li>
        <li>
          <span class="evening-shift"></span> Evening Shift (14:00 - 00:00)
        </li>
        <li><span class="night-shift"></span> Night Shift (20:00 - 05:00)</li>
      </ul>

      <div class="modal-footer-button flex">
        <input type="button" class="btn-input" value="Edit" (click)="open()" />
        <input
          type="button"
          class="btn-input"
          value="Cancel"
          (click)="activeModal.close('Close click')"
        />
      </div>
    </div>
  </div>
</app-dialog-layout>
