<app-dialog-layout>
  <div class="modal-custom modal-lg bg-white modal-center custom-w-800">
    <div class="gradient-head flex justify-content-between">
      <div class="heading" *ngIf="dates.dateRagne">
        Shift Management ({{dates.dateRagne.start}} - {{dates.dateRagne.end}})
      </div>
      <div class="btn-options flex align-content-center">
        <a
          ><img
            src="assets/icons/ico-close.svg"
            alt=""
            (click)="activeModal.close('Close click')"
        /></a>
      </div>
    </div>
    <!-- Body -->
    <div class="shift-management-wrapper pb-0">
      <div class="header">
        <div class="search-row">
          <form action="" class="flex space-between w-100">
            <div class="left-col">
              <label for="radio1">
                <input
                  [checked]="valueType == 'date'"
                  type="radio"
                  value="date"
                  name="sort"
                  (click)="radioChange('date')"
                />Sort by Date</label
              >
              <label for="radio1">
                <input
                  type="radio"
                  [checked]="valueType == 'employee'"
                  value="employee"
                  name="sort"
                  (click)="radioChange('employee')"
                />Sort by Employee</label
              >
            </div>
            <app-input-box
              [width]="'105px'"
              [height]="'20px'"
              (inputChanged)="search($event)"
            >
            </app-input-box>
          </form>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div>
      <app-sort-by-date
        *ngIf="view == 'date'"
        [dates]="dates"
        [searchedValue]="searchedValue"
      ></app-sort-by-date>
      <app-sort-by-employee
        *ngIf="view == 'employee'"
        [dates]="dates"
        [searchedValue]="searchedValue"
      ></app-sort-by-employee>
    </div>
    <div class="modal-custom-footer">
      <ul class="shift-hints" style="display: flex; gap: 20px" git *ngIf="shiftsArray?.length<3">
        <li *ngFor="let shift of shiftsArray">
          <span class="custom-hw-10" [ngStyle]="{'background-color' : shift.color}"></span> {{shift.name}} ({{this.time_in_footer}} - {{this.time_out_footer}})
        </li>
        <!-- <li>
          <span class="evening-shift custom-hw-10"></span> Evening Shift (14:00
          - 00:00)
        </li>
        <li>
          <span class="night-shift custom-hw-10"></span> Night Shift (20:00 -
          05:00)
        </li> -->
      </ul>
      <ul class="shift-hints" style="display: flex; gap: 20px" git *ngIf="shiftsArray?.length>2"> 
        <li *ngFor="let shift of shiftsArray">
          <span class="custom-hw-10" [ngStyle]="{'background-color' : shift.color}"></span> Click Me
        </li>
        <!-- <li>
          <span class="evening-shift custom-hw-10"></span> Evening Shift (14:00
          - 00:00)
        </li>
        <li>
          <span class="night-shift custom-hw-10"></span> Night Shift (20:00 -
          05:00)
        </li> -->
      </ul>

      <div class="modal-footer-button flex">
        <input type="button" class="btn-input"
         [disabled]="!linkService.isLineManagerPortal()"
         value="Edit" (click)="open()" />
        <input
          type="button"
          class="btn-input"
          value="Cancel"
          (click)="activeModal.close('Close click')"
        />
      </div>
    </div>
  </div>
</app-dialog-layout>
